@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Montserrat+Alternates:wght@600&family=Righteous&family=Roboto:wght@400;500;700;900&family=Sarala:wght@700&display=swap');

:root {
    --cor-primaria: #180A0A;
    --cor-secundaria: #B6EADA;
    --cor-terciaria: #1597BB;
    --cor-botao-hover: #5B8FB9;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

body::before{
    content: '';
    position: absolute; /* Garante que o pseudo-elemento cobre todo o contêiner */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/img-fundo.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.3; /* Define a opacidade da imagem de fundo */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.apresentacao__conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.destaque-titulo {
    color: var(--cor-terciaria);
}

.apresentacao__botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.apresentacao__botao__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.125rem;
}

.apresentacao__botao__link {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--cor-terciaria);
    width: 100%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 1vw 10vw;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__botao__link:hover {
    background-color: var(--cor-botao-hover);
}

.apresentacao__imgagem {
    width: 14rem;
    height: 14rem;
    border: 2px solid var(--cor-terciaria);
    border-radius: 50px;
}


       